<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://uberweiss.us7.list-manage2.com/subscribe/post?u=65ef2405f17a6645f78d8500d&amp;id=49ca3bacd7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<h3>Enjoy the app?</h3>
  <p>Subscribe to get news, updates, and information about joining future beta tests delivered to your email:</p>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address </label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_65ef2405f17a6645f78d8500d_49ca3bacd7" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn"></div>
</form>
</div>

<!--End mc_embed_signup-->
