- if AppSettings.google_analytics_account.present?
  javascript:
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '#{AppSettings.google_analytics_account}']);
    _gaq.push(['_trackPageview']);
    var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
